@import "fonts.css";
:root{
  --main-font:"CircularStd";

  --color-hover: #232323;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: var(--main-font), sans-serif;
  color: #fff;
  background-color: #000000;
}
.block-element{
  border-radius: 10px;
  background-color: #121212;
}
